@{
    ViewData["Title"] = "Lesson Details";
}

<h1>@Model.Title</h1>

<p>@Model.Description</p>
<p>Content:</p>
<p>@Model.Content</p>

<iframe src="@Model.VideoLink"></iframe>

<p>File link</p>
<p>@Model.FileLink</p>


